server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: "{{ loki_url }}"

scrape_configs:
  - job_name: system
    static_configs:
    - targets:
        - localhost
      labels:
        job: "{{ ansible_hostname }}"
        __path__: /var/log/syslog

