[Unit]
Description=Loki service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec loki stop
ExecStartPre=-/usr/bin/docker rm loki
ExecStartPre=/usr/bin/docker pull "{{ loki_image }}"
ExecStart=/usr/bin/docker run -d --rm --name loki \
    -p 3100:3100 -v "{{ loki_conf_path }}":/mnt/config \
    "{{ loki_image }}" -config.file=/mnt/config/{{ loki_conf_file }}

[Install]
WantedBy=default.target
