[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
Wants="{{ net_target }}"
After="{{ net_target }}"

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus   --config.file="{{ prometheus_conf_file }}"   --storage.tsdb.path=/var/lib/prometheus   --web.console.templates="{{ consoles }}"   --web.console.libraries="{{ console_libs }}"   --web.listen-address=0.0.0.0:9090   --web.external-url=

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy="{{ multi_user_target }}"

